<div class="cms-page container">
	<h1>Femhope home</h1>
	<div class="row org-tiles">
		<div class="col-md-4">
			<div class="org-photo">
				<div class="mini-map" id="map0"></div>
				<div class="org-info" id="info0">
					<h2 class="org-tile-name"></h2>
					<p class="org-tile-phone"></p>
					<p class="org-tile-email"></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="org-photo">
				<div class="mini-map" id="map1"></div>
				<div class="org-info" id="info1">
					<h2 class="org-tile-name"></h2>
					<p class="org-tile-phone"></p>
					<p class="org-tile-email"></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="org-photo">
				<div class="mini-map" id="map2"></div>
				<div class="org-info" id="info2">
					<h2 class="org-tile-name"></h2>
					<p class="org-tile-phone"></p>
					<p class="org-tile-email"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="org-photo">
				<div class="mini-map" id="map3"></div>
				<div class="org-info" id="info3">
					<h2 class="org-tile-name"></h2>
					<p class="org-tile-phone"></p>
					<p class="org-tile-email"></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="org-photo">
				<div class="mini-map" id="map4"></div>
				<div class="org-info" id="info4">
					<h2 class="org-tile-name"></h2>
					<p class="org-tile-phone"></p>
					<p class="org-tile-email"></p>
				</div>
			</div>
		</div>
		<div class="col-md-4" id="map5">
			<div class="org-photo">
				<div class="mini-map" id="map5"></div>
				<div class="org-info" id="info5">
					<h2 class="org-tile-name"></h2>
					<p class="org-tile-phone"></p>
					<p class="org-tile-email"></p>
				</div>
			</div>
		</div>
	</div>
</div>
