<div class="cms-page container">
	<h1>Femhope home</h1>
	<div class="row org-tiles">
		<div class="col-md-4">
			<div class="org-photo">
				<div class="mini-map" id="map0"></div>
				<div class="org-info" id="info0">
					<h2 class="org-tile-name"></h2>
					<p class="org-tile-phone"></p>
					<p class="org-tile-email"></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="org-photo">
				<div class="mini-map" id="map1"></div>
				<div class="org-info" id="info1">
					<h2 class="org-tile-name"></h2>
					<p class="org-tile-phone"></p>
					<p class="org-tile-email"></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="org-photo">
				<div class="mini-map" id="map2"></div>
				<div class="org-info" id="info2">
					<h2 class="org-tile-name"></h2>
					<p class="org-tile-phone"></p>
					<p class="org-tile-email"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row org-tiles">
		<div class="col-md-4">
			<div class="org-photo">
				<div class="mini-map" id="map3"></div>
				<div class="org-info" id="info3">
					<h2 class="org-tile-name"></h2>
					<p class="org-tile-phone"></p>
					<p class="org-tile-email"></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="org-photo">
				<div class="mini-map" id="map4"></div>
				<div class="org-info" id="info4">
					<h2 class="org-tile-name"></h2>
					<p class="org-tile-phone"></p>
					<p class="org-tile-email"></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="org-photo">
				<div class="mini-map" id="map5"></div>
				<div class="org-info" id="info5">
					<h2 class="org-tile-name"></h2>
					<p class="org-tile-phone"></p>
					<p class="org-tile-email"></p>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
/**
	Loading organization's maps on the homepage
*/
jQuery(document).ready(function(){

	if(navigator.geolocation){
		navigator.geolocation.getCurrentPosition(function(position) {
			lat = position.coords.latitude;
			long = position.coords.longitude;
			jQuery.ajax({
				type: "POST",
				url: "/location/closest-organizations",
				data: { 'latitude': lat, 'longitude': long }
			})
			.done(function( data ) {
				processMaps( data );
			});
		}, function(error){
			<% if(req.session && req.session.User && req.session.User.rol < 2){ %>
				lat = <%= req.session.User.latitude %>;
				long = <%= req.session.User.longitude %>;
			<% } else { %>
				alert("Los mapas generados no representan una ruta real. Por favor, permita a su navegador obtener su ubicaci칩n o, si es un usuario registrado, inicie sesi칩n para actualizar los mapas.");
				lat = 0;
				long = 0;
			<% } %>
			jQuery.ajax({
				type: "POST",
				url: "/location/closest-organizations",
				data: { 'latitude': lat, 'longitude': long }
			})
			.done(function( data ) {
				processMaps( data );
			});
		}); 
	}else{
		<% if(req.session && req.session.User && req.session.User.rol == 1){ %>
			lat = <%= req.session.User.latitude %>;
			long = <%= req.session.User.longitude %>;
		<% } else { %>
			lat = 0;
			long = 0;
		<% } %>
		jQuery.ajax({
			type: "POST",
			url: "/location/closest-organizations",
			data: { 'latitude': lat, 'longitude': long }
		})
		.done(function( data ) {
			processMaps( data );
		});
	}

	function processMaps(data){
		if(data && data['status'] == 'ok'){
			var orgs = data['orgs'];
			var norgs = orgs.length;
			var map;
			for(var i = 0 ; i < norgs ; i++){
				map = new GMaps({
					div: '#map'+i,
					lat: orgs[i]['organization']['latitude'],
					lng: orgs[i]['organization']['longitude']
				});
				map.addMarker({
					lat: orgs[i]['organization']['latitude'],
					lng: orgs[i]['organization']['longitude'],
					infoWindow: {
						content : orgs[i]['organization']['address']+" "+orgs[i]['organization']['number']+", "+orgs[i]['organization']['city']+", "+orgs[i]['organization']['postalCode'] 
					}
				});
				map.addMarker({
					lat: data['latitude'],
					lng: data['longitude'],
					infoWindow: {
						content : "Tu posici칩n" 
					}
				});
				map.drawRoute({
					origin: [data['latitude'], data['longitude']],
					destination: [orgs[i]['organization']['latitude'], orgs[i]['organization']['longitude']],
					travelMode: 'driving',
					strokeColor: '#131540',
					strokeOpacity: 0.6,
					strokeWeight: 6
				});
				map.fitZoom();
				jQuery('#info'+i).attr('style', 'background-image:url("../images/'+orgs[i]['organization']['avatar']+'");background-repeat:no-repeat;background-position:right;background-size:75px;');
				jQuery('#info'+i+' .org-tile-name').html('<a href="organization/view?id='+orgs[i]['organization']['id']+'">'+orgs[i]['organization']['name']+'</a>');
				jQuery('#info'+i+' .org-tile-phone').text(orgs[i]['organization']['requiredPhone']);
				jQuery('#info'+i+' .org-tile-email').html('<a href="mailto:'+orgs[i]['organization']['email']+'" >'+orgs[i]['organization']['email']+'</a>');
			}
		}else{
			alert('Lo sentimos, se ha producido un error. Por favor intente entrar m치s tarde.');
		}
	}
});
</script>